body {
  /* background: linear-gradient(135deg, #6c7f9e 0%, #bdd3f9 100%) !important; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: #333;
}
